<a href="https://colab.research.google.com/github/miniact/mangyaWAF/blob/master/mms_waf_modeling_ml_algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modeling and evaluation of machine learning model

Import all dependencies

In [ ]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import string
import pickle
from IPython.display import display
#evaluations
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve

In [ ]:
data = pd.read_csv("https://trello-attachments.s3.amazonaws.com/5ed2d4107c349c221194b608/5ed2d453f0e5a45bcd8cf16c/9d9eab0bcf8afdfbdff5fdb173f78cd6/final-allpayload.csv",index_col="index")
data

                                                  payload  ...  js-keywords
index                                                      ...
0                                               37662577P  ...            0
1                                                shirting  ...            1
2                         &kw=%27;alert%28%27XSS%27%29;//  ...            1
3                                                 obeying  ...            1
4                                               dictating  ...            1
...                                                   ...  ...          ...
110355                                       needlessness  ...            0
110356                                            Mary-Jo  ...            0
110357                                          marshaled  ...            0
110358                                   9553847952570755  ...            0
110359  "><body language=vbs onload=window.location='d...  ...            5

[110357 rows x 13 columns]

Selecting dependent and independent variables

In [ ]:
Y = data['is_malicious']
"""independent_variables = data.columns
independent_variables = independent_variables.delete(1)
independent_variables"""
X = data.iloc[:,3:]
X

        length  non-printable  ...  sql-keywords  js-keywords
index                          ...
0            9              0  ...             0            0
1            8              0  ...             0            1
2           31              0  ...             0            1
3            7              0  ...             0            1
4            9              0  ...             0            1
...        ...            ...  ...           ...          ...
110355      12              0  ...             1            0
110356       7              0  ...             0            0
110357       9              0  ...             0            0
110358      16              0  ...             0            0
110359     109              0  ...             3            5

[110357 rows x 10 columns]

# Modeling data with Xgboost Classifier

In [ ]:
import xgboost as xgb
#?xgb.XGBClassifier()
xgb_classifer = xgb.XGBClassifier()
xgb_classifer.fit(X,Y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
%time xgb_classifer.fit(X,Y)

CPU times: user 5.7 s, sys: 17.8 ms, total: 5.72 s
Wall time: 5.73 s

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
data['predicted_is_malicious'] = xgb_classifer.predict(X)

In [ ]:
data.head(30)

                                                 payload  ...  predicted_is_malicious
index                                                     ...
0                                              37662577P  ...                     0.0
1                                               shirting  ...                     0.0
2                        &kw=%27;alert%28%27XSS%27%29;//  ...                     1.0
3                                                obeying  ...                     0.0
4                                              dictating  ...                     0.0
5                                                lafleur  ...                     0.0
6                                              capturers  ...                     0.0
7                                              8nca58z48  ...                     0.0
8                                             autocratic  ...                     0.0
9                                     grocery+warehouses  ...                     0.0
10                                               Danciel  ...                     0.0
11                                               Koressa  ...                     0.0
12                           bowie0%40showeb-handling.bi  ...                     0.0
13                                            Auque+Cote  ...                     0.0
14                                              broadest  ...                     0.0
15                                        Xaubet+Sorolla  ...                     0.0
16                                            vocational  ...                     0.0
17                                                 Yemen  ...                     0.0
18                                                 22584  ...                     0.0
19                               <BR SIZE="&{alert(1)}">  ...                     1.0
20                                             impaction  ...                     0.0
21     <button onclick="window.open('http://xss.cx/::...  ...                     1.0
22     <IFRAME SRC="javascript:alert(\'XSS\');"></IFR...  ...                     1.0
23                                                 03830  ...                     0.0
24                                             pineapple  ...                     0.0
25                                        La+Lora+11%2C+  ...                     0.0
26                                              Pittston  ...                     0.0
27                                               Aeriela  ...                     0.0
28                                              Brewster  ...                     0.0
29                                                doting  ...                     0.0

[30 rows x 14 columns]

In [ ]:
data[["is_malicious","predicted_is_malicious"]]

        is_malicious  predicted_is_malicious
index
0                0.0                     0.0
1                0.0                     0.0
2                1.0                     1.0
3                0.0                     0.0
4                0.0                     0.0
...              ...                     ...
110355           0.0                     0.0
110356           0.0                     0.0
110357           0.0                     0.0
110358           0.0                     0.0
110359           1.0                     1.0

[110357 rows x 2 columns]

# Storing the trained model into pickel file
to skip the training step all time and directly load trained data from file

In [ ]:
#creating binary file

with open("mms_maf_final","wb") as file:
  pickle.dump(xgb_classifer,file)

In [ ]:
#reading binary file

with open("mms_maf_final","rb") as file:
  xgb_classifer_pickle = pickle.load(file)

In [ ]:
#testing the model via pickle file
data['predicted_is_malicious_pickle'] = xgb_classifer_pickle.predict(X)
data[["is_malicious","predicted_is_malicious","predicted_is_malicious_pickle"]]

        is_malicious  predicted_is_malicious  predicted_is_malicious_pickle
index
0                0.0                     0.0                            0.0
1                0.0                     0.0                            0.0
2                1.0                     1.0                            1.0
3                0.0                     0.0                            0.0
4                0.0                     0.0                            0.0
...              ...                     ...                            ...
110355           0.0                     0.0                            0.0
110356           0.0                     0.0                            0.0
110357           0.0                     0.0                            0.0
110358           0.0                     0.0                            0.0
110359           1.0                     1.0                            1.0

[110357 rows x 3 columns]

Storing model with joblib

In [ ]:
from sklearn.externals import joblib
joblib.dump(xgb_classifer,"mms_waf_joblib")

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['mms_waf_joblib']

In [ ]:
#prwediction via joblib
#testing the model via pickle file
xgb_classifer_joblib = joblib.load("mms_waf_joblib")
data['predicted_is_malicious_joblib'] = xgb_classifer_joblib.predict(X)
data[["is_malicious","predicted_is_malicious","predicted_is_malicious_joblib"]]

        is_malicious  predicted_is_malicious  predicted_is_malicious_joblib
index
0                0.0                     0.0                            0.0
1                0.0                     0.0                            0.0
2                1.0                     1.0                            1.0
3                0.0                     0.0                            0.0
4                0.0                     0.0                            0.0
...              ...                     ...                            ...
110355           0.0                     0.0                            0.0
110356           0.0                     0.0                            0.0
110357           0.0                     0.0                            0.0
110358           0.0                     0.0                            0.0
110359           1.0                     1.0                            1.0

[110357 rows x 3 columns]

# Integration with website

In [ ]:
independent_variables=['length', 'non-printable','punctuation', 'min-byte', 'max-byte', 'mean-byte', 'std-byte','distinct-byte', 'sql-keywords', 'js-keywords']
independent_variables

['length',
 'non-printable',
 'punctuation',
 'min-byte',
 'max-byte',
 'mean-byte',
 'std-byte',
 'distinct-byte',
 'sql-keywords',
 'js-keywords']

In [ ]:
independent_variables=data.columns

sql_keywords = pd.read_csv('https://trello-attachments.s3.amazonaws.com/5ed2d4107c349c221194b608/5ed2d453f0e5a45bcd8cf16c/435e639346787ce2b495a16e9f690ef5/SQLKeywords.txt', index_col=False)
js_keywords = pd.read_csv("https://trello-attachments.s3.amazonaws.com/5ed2d4107c349c221194b608/5ed2d453f0e5a45bcd8cf16c/dedc7eb9846a30c252cd950a0e2153d9/JavascriptKeywords.txt",index_col=False)
def calculate_features_and_predict(payload):
  features = {} 
  payload = str(payload)
  features['length'] = len(payload)
  features['non-printable'] = len([1 for letter in payload if letter not in string.printable])
  features['punctuation'] = len([1 for letter in payload if letter in string.punctuation])
  features['min-byte'] = min(bytearray(payload,'utf-8'))
  features['max-byte'] = max(bytearray(payload,'utf-8'))
  features['mean-byte'] = np.mean(bytearray(payload,'utf-8'))
  features['std-byte'] = np.std(bytearray(payload,'utf-8'))
  features['distinct-byte'] = len(set(bytearray(payload,'utf-8')))
  features['sql-keywords'] = len([1 for keyword in sql_keywords['Keyword'] if str(keyword).lower() in payload.lower()])
  features['js-keywords'] = len([1 for keyword in js_keywords['Keyword'] if str(keyword).lower() in payload.lower()])
  #payload_df = pd.DataFrame(data=features,index=[0],columns=independent_variables)
  payload_df = pd.DataFrame(features,index=[0])
  display(payload_df)
  result = xgb_classifer.predict(payload_df)
  #display(result)
  return result[0]

In [ ]:
calculate_features_and_predict("<>")

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0      26              0            8  ...             13             0            1

[1 rows x 10 columns]

array([1.])

1.0

In [ ]:
payload=''
while (payload != 'exit' ):
  payload = input("Enter payload")
  result = calculate_features_and_predict(payload)
  if(result > 0):
    print(f"Your payload {payload} is malicious - 403 error\n")
  else:
    print(f"Your payload {payload} is safe 200 OK\n")

Enter payload"><svg/onload=alert(1)>

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0      23              0            8  ...             19             0            1

[1 rows x 10 columns]

array([1.])

Your payload "><svg/onload=alert(1)> is malicious - 403 error

Enter payload"><img src=x onerror=alert(1)>

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0      30              0            8  ...             21             0            1

[1 rows x 10 columns]

array([1.])

Your payload "><img src=x onerror=alert(1)> is malicious - 403 error

Enter payload"><script>alert(1)</script>

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0      27              0            9  ...             16             0            1

[1 rows x 10 columns]

array([1.])

Your payload "><script>alert(1)</script> is malicious - 403 error

Enter payload<marquee width=1 loop=1 onbounce=alert(1)>XSS</marquee>

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0      55              0           10  ...             27             1            1

[1 rows x 10 columns]

array([1.])

Your payload <marquee width=1 loop=1 onbounce=alert(1)>XSS</marquee> is malicious - 403 error

Enter payload<video oncanplaythrough=alert(1)><source src="validvideo.mp4" type="video/mp4"></video>

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0      87              0           18  ...             29             3            1

[1 rows x 10 columns]

array([1.])

Your payload <video oncanplaythrough=alert(1)><source src="validvideo.mp4" type="video/mp4"></video> is malicious - 403 error

Enter payload<a id=x tabindex=1 onfocus=alert(1)></a>

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0      40              0           10  ...             23             1            3

[1 rows x 10 columns]

array([1.])

Your payload <a id=x tabindex=1 onfocus=alert(1)></a> is malicious - 403 error

Enter payload<image src=validimage.png onloadstart=alert(1)>

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0      47              0            7  ...             23             2            2

[1 rows x 10 columns]

array([1.])

Your payload <image src=validimage.png onloadstart=alert(1)> is malicious - 403 error

Enter payload<a onbeforecopy="alert(1)" contenteditable>test</a>

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0      51              0           10  ...             24             2            2

[1 rows x 10 columns]

array([1.])

Your payload <a onbeforecopy="alert(1)" contenteditable>test</a> is malicious - 403 error

Enter payloadsqli'or1=1--

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0      12              0            4  ...             10             0            0

[1 rows x 10 columns]

array([1.])

Your payload sqli'or1=1-- is malicious - 403 error

Enter payloadsql'='OR'

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0       9              0            4  ...              7             0            0

[1 rows x 10 columns]

array([1.])

Your payload sql'='OR' is malicious - 403 error

Enter payloadcmd;cat a.txt

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0      13              0            2  ...              9             0            0

[1 rows x 10 columns]

array([0.])

Your payload cmd;cat a.txt is safe 200 OK

Enter payloadcmd;cat /etc/hosts

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0      18              0            3  ...             12             0            0

[1 rows x 10 columns]

array([0.])

Your payload cmd;cat /etc/hosts is safe 200 OK

Enter payload;wget

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0       5              0            1  ...              5             0            0

[1 rows x 10 columns]

array([0.])

Your payload ;wget is safe 200 OK

Enter payload;wget 127.0.0

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0      13              0            3  ...             11             0            0

[1 rows x 10 columns]

array([0.])

Your payload ;wget 127.0.0 is safe 200 OK

Enter payloadexit

   length  non-printable  punctuation  ...  distinct-byte  sql-keywords  js-keywords
0       4              0            0  ...              4             0            0

[1 rows x 10 columns]

array([0.])

Your payload exit is safe 200 OK